footer {
	background-color: $dark;
	padding: 1em 0;
}

.footer__innerWrapper {
	display: flex;

	@media screen and (min-width: $sm) {
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
	}

	@media screen and (max-width: $sm) {
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
		flex-direction: column;

		> div {
			margin: 10px auto;
		}
	}
}

.footer__innerWrapper__logo {
	max-width: 10em;
	@extend .responsive-image;

	img {
		opacity: 0.6;
	}
}

.footer__innerWrapper__disclaimer {
	max-width: 350px;
	p, a {
		margin: 0;
		font-size: .8em;
		opacity: 0.6;
		color: $highlight;
	}

	a {
		&:hover, &:focus {
			color: $light;
		}
	}
}