.home-header {
	display: none;
}

.page-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $dark;
	padding: 1em 2em;
	color: $highlight;

	a {
		color: $highlight;
		text-decoration: none;

		&:hover, &:focus {
			color: $light;
		}
	}
}