header {
	background-color: $medium;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@media screen and (min-width: $md) {
		min-height: 450px;
		max-height: 768px;
	}

	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		background-image: linear-gradient(to top, #0e3c73, rgba(101, 152, 202, 0.01));
	}
}

header .headerMenu {
	background-color: $lightgrey;
	position: relative;
	z-index: 9;

	&__innerWrapper {
		display: table;
		overflow: hidden;

		&__logo {
			display: table-cell;
			vertical-align: middle;
			position: relative;
			padding: 1em 0;

			a {
				padding: 1em 0;
				height: 100%;
				display: table-row;
				img {
					display: table-cell;
					vertical-align: middle;
					max-width: 172px;
					width: 100%;
					height: auto;

					@media screen and (max-width: $xs) {
						max-width: 90px;
					}
					@media screen and (min-width: $xs) and (max-width: $sm) {
						max-width: 120px;
					}
				}
			}
		} 
		&__menuControl {
			display: table-cell;
			text-align: right;
			vertical-align: middle;

			@media screen and (min-width: $sm) {
				display: none;
			}
		}
	}
}

header .inactive ul {
	@media screen and (max-width: $sm) {
		height: 0;
		opacity: 0;
		display: none;
	}
}

header .menu-header-container {
	@media screen and (min-width: $sm) {
		display: table-cell;
		width: 70%;
		vertical-align: middle;

		ul {
			width: 100%;
			padding: 0;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-content: flex-end;
			flex-wrap: wrap;
		}
	}


	display: table-row;
	width: 100%;
	position: relative;
	ul {
		transition: .2s ease-in;
		width: 100%;
		li {
			list-style: none;
			padding: .5em 0;
			text-align: left;

			@media screen and (max-width: $sm) {
				width: 100%;
			}

			a {
				text-decoration: none;
				font-size: 12px;
				@extend .icon-text;
			}
		}
	}
}

.headerMenu__innerWrapper__menuControl {
	button {
		border: none;
		background: transparent;
		box-shadow: none;
		color: $dark;
		font-size: 1em;
		padding: 0;
		margin: 0;

		&:hover, &:focus {
			color: $highlight;
		}
	}

	.active {
		color: $highlight;
		&:hover, &:focus {
			color: $dark;
		}
	}

	@media screen and (min-width: $sm) {
		display: none;
	}
}

.header__innerWrapper {
	position: relative;
	z-index: 2;
}

.header__innerWrapper__content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin: 20px 0;

	@media screen and (min-width: $sm) {
		margin: 80px 0 60px 0;
	}
}

.header__innerWrapper__content__title {
	flex: 1 0 100%;
	max-width: 450px;
	width: 90%;
	margin: 20px auto 20px auto;
	padding: 0 2em 0 2em;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media screen and (min-width: $sm) {
		flex: 1 0 50%;
	}

	h1, p {
		margin: 5px 0;
	}

	h1 {
		line-height: 1.5em;
		
		@media screen and (min-width: $sm) {
			font-size: 2.4em;
		}
	}

	p {
		@media screen and (min-width: $sm) {
			font-size: 1.2em;
		}
	}
}

.header__innerWrapper__content__video {
	flex: 1 0 100%;
	max-width: 550px;
	width: 90%;
	margin: 20px auto 20px auto;

	@media screen and (min-width: $sm) {
		flex: 1 0 50%;
	}

	@media screen and (max-width: $sm) {
		max-width: 450px;
	}

	> div {
		overflow: hidden;
		border-radius: 4px;
		box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.4);
	}
}

.header__innerWrapper__featured {
	border-top: 2px solid white;
	display: flex;
	flex-direction: column;
	padding: 20px 0 40px 0;
	@media screen and (min-width: $sm) {
		padding: 20px 0 40px 0;
		flex-direction: row;
		justify-content: space-between;
	}
}

.header__innerWrapper__featured__card {
		flex: 1 0 calc(50% - 5px);
		margin: 10px auto;
		max-width: 450px;
}

.header__innerWrapper__featured__card a {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-decoration: none;

	&:hover, &:focus {
		.header__innerWrapper__featured__card__text {
			color: $highlight;
		}
	}
}

.header__innerWrapper__featured__card__img {
	max-width: 230px;
	max-height: 133px;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
	width: calc(2/5 * 100% - 10px);
	img {
		width: 100%;
		height: auto;
		border-radius: 4px;
	}
}

.header__innerWrapper__featured__card__text {
	width: calc(3/5 * 100%);
	color: white;
	transition: 0.2s ease-in;
	&__date {
		@extend .icon-text;
		font-size: 12px;
		margin: 0;
		@media screen and (max-width: $sm) {
			font-size: 9px;
		}
	}
	&__title {
		margin: 0;
		@media screen and (max-width: $sm) {
			font-size: 12px;
		}
	}
}

// page hero styles
.header__innerWrapper__pageContent {
	max-height: 768px;
	min-height: 400px;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__title {
		color: white;
		text-align: center;
		max-width: 710px;
		margin: 0 auto;
		h1 {
			font-size: 2.4em;
			margin: 0 0 1em 0;
		}
		p {
			margin: 0;
			font-size: 1.2em;
		}
	}
}

