.mainContainer {
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&__innerWrapper {
		min-height: 100vh;
		padding: 2em 0;
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: $highlight;
	}

	&:after {
		content: "";
		background-image: linear-gradient(to top, #103653, rgba(15, 30, 50, 0.3) 97%);
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
		bottom: 0;
	}
}

.mainContainer__innerWrapper__text {
	margin: 0 0 4em 0;

	h1 {
		text-align: center;
		font-size: 3.5em;
		margin: 0 0 25px 0;
	}

	> div {
		max-width: 640px;
		margin: 0 auto 0 auto;
		line-height: 1.5em;
		font-size: 1.1em;
	}
}

.mainContainer__innerWrapper__cardTitle {
	text-align: center;
	width: 100%;
	margin: 0 0 2em 0;
}

.mainContainer__innerWrapper__cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;

	@media screen and (min-width: $sm) {
		flex-direction: row;
		justify-content: space-evenly;
	}

	&__card {
		text-align: center;
		padding: 2em 1em;
		width: 90%;
		margin: 5px 0;
		max-width: 470px;
		border-radius: 4px;
		background-color: rgba(15, 30, 50, 0.7);
		box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
		color: $highlight;

		@media screen and (min-width: $sm) {
			width: calc(50% - 5px);
		}

		h4 {
			margin: 0 0 1.5em 0;
		}

		button {
			width: 80%;
		}
	}
}

// page styles

// ajax post / single post styles 
// WP base page image styles
img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

.indexPost {
	&__innerWrapper {
		&__title {
			text-align: center;
			margin: 2em 0;
		}

		&__content {
			max-width: 640px;
			margin: 0 auto;
		}

		img {
			max-width: 100%;
			height: auto;
		}

		blockquote {
			color: $medium;
			font-size: 1.4em;
			padding: 0 2em;
			font-style: italic;
		}

		table {
			tbody {
				tr {
					td {
						padding: .5em;
						border-top: 2px solid $light;
						&:first-of-type {
							border-right: 2px solid $light;
							vertical-align: top;
						}
					}
				}
			}
		}

		ul, ol {
			li {
				padding-left: 1em;
			}
		}
	}
}
