html {
	font-size: 16px;
	@media only screen and (max-width: $sm) {
		font-size: 14px;
	}
}

* {
	box-sizing: border-box;
}

a {
	color: $medium;
	transition: 0.2s ease-in;
	&:hover, &:focus {
		color: $highlight;
	}
}

::selection {
	background-color: $highlight;
	color: white;
}

body {
	font-family: $fontmain;
	color: $dark;
}

p {
	font-family: $fontmain;
	line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $displayfont;
	font-weight: bold;
}

h1 {font-size: 2em}
h2 {font-size: 1.8em}
h3 {font-size: 1.6em}
h4 {font-size: 1.4em}
h5 {font-size: 1.2em}
h6 {font-size: 1em}

.title {
	font-family: $displayfont;
}

.icon-text {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	@media only screen and (max-width: $sm) {
		font-size: 12px;
	}
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
	font-weight: italic;
}

mark {
	background-color: $highlight;
}

i {
	font-style: italic;
	font-weight: italic;
}

button {
  	height: 4em;
  	border-radius: 1px;
  	border: none;
	padding: 0 .5em;
	transition: 0.2s ease-in;
	color: white;
	font-family: $fontmain;
	font-size: .8em;
	font-weight: bold;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

button.primary {
	background-color: $highlight;
	&:hover, &:focus {
		background-color: $medium;
	}
}

button.link {
	color: white;
	border: none;
	padding: 0;
	font-weight: bold;

	&:hover, &:focus {
		color: $dark;
	}
}

.more-link {
	a {
		text-decoration: none;
		font-weight: bold;
		i {
			font-size: 1.5em;
			padding: 0px 0px 0px 10px;
		}
	}
}

// Grid control
.container {
	width: 100%;
	margin: 0 auto;
}

.inner-wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
	height: 100%;
}

// extra styling

.hide {
	display: none;
}

.visible {
	opacity: 1;
	visibility: visible;
}

.invisible {
	opacity: 0;
	visibility: hidden;
}

// Animation styling 


/* Layout classes */
.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.vertical-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.center-align {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.abs-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

// Responsive media controls 
.responsive-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	background-color: $dark;
	iframe {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
	}
}

.responsive-image {
	position: relative;
	img {
		width: 100%;
		height: auto;
	}
}

// shared styles
.share-wrapper {
	a {
		color: white;
		font-size: 1.6em;
		margin: .4em;

		&:focus, &:hover {
			color: $highlight;
		}
	}
}
