$fontmain: 'Lato', sans-serif;
$displayfont: 'Lato', sans-serif;

$fontreg: 400;
$italic: 400i;
$bold: 900;

$dark: #0f1e32;
$medium: #103653;
$highlight: #fffff8;
$light: #21beda;
$gradient: linear-gradient(45deg, rgba(52,152,219,0.6) 0%,rgba(214,5,30,1) 100%);


$xs: 400px;
$sm: 768px;
$md: 1000px;
$lg: 1300px;
$xlg: 1600px;