$fontmain: 'Helvetica', 'Verdana', sans-serif;
$displayfont: 'Georgia', serif;

$fontreg: 400;
$italic: 400i;
$bold: 900;

$dark: #001b3a;
$medium: #002d62;
$highlight: #fbb034;
$light: #eff2f4;
$grey: #d8d8d8;
$lightgrey: #eff2f4;
$gradient: linear-gradient(45deg, rgba(52,152,219,0.6) 0%,rgba(214,5,30,1) 100%);


$xs: 400px;
$sm: 768px;
$md: 1000px;
$lg: 1300px;
$xlg: 1600px;